@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@1,300&family=Kanit&family=Poppins:wght@300&family=Roboto:ital,wght@0,300;0,400;1,300&family=Source+Code+Pro:ital,wght@1,500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden; 
    font-family: "Poppins";
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: aquamarine; */
    width: 100%;
    height: 15%;
}
nav ul{
    display: flex;
    justify-content: flex-start;
    gap: 30px;
    align-items: center;
}
nav ul li a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: 500;

}
nav ul li a:hover{
    font-weight: 600;
}
nav ul li img{
    height: 50px;
    margin: 30px;
    width: 50px;
}
nav button{
    padding: 14px 28px;
    background-color: #5955b3;
    border: none;
    border-radius: 12px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #ffffff;
    margin-right: 30px;
}
.main{
    display: flex;
    align-items: center;
    width: 100%;
    height: 85%;
    justify-content: space-around;
}
.left-main-section{
    display: flex;
    justify-content: center;
    gap: 30px;
    align-items: flex-start;
    flex-direction: column;
}
.left-main-section button{
    background-color: #5955b3;
    font-size: 16px;
    line-height: 24px;
    align-items: center;
    text-align: center;
    font-weight: 500;
    border: none;
    font-style: normal;
    color: #ffffff;
    border-radius: 12px;
    padding: 14px 28px;
    cursor: pointer;
}
button:hover{
    cursor: pointer;
    font-size: 17px;
    font-weight: 600;
}
h1{
    font-size: 45px;
    font-weight: 1000;
}
span{
    color: #5955b3;
}
.right-main-section{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;


}
.right-main-section img{
    height: 60%;
    width: 70%;
}